@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* { cursor: url(assets/cursor.cur),url(assets/cursor.cur),url(assets/cursor.cur),auto; }
::selection   { background-color: #47863D; color: #FFF; }

* {
  font-family: "Nunito Sans", sans-serif;
}

.cover {
    height: 100vh;
    min-height: 500px;
  }