@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

@import url('../bootstrap/css/bootstrap.css');

::selection {   background-color: #44833c; color: #FFF;}

* {
  cursor: url(../assets/cursor.cur),url(../assets/cursor.cur),url(../assets/cursor.cur),auto;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.cover {
  height: 100vh;
  min-height: 500px;
}

.subtitle {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  --bs-body-bg: #0c0e0f;
}

.social-link {
  fill: rgb(108, 117, 125);
}

.social-link:hover{
  fill: #44833c;
}

.social-svg {
  width: 3em;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}